.recipetitle {
  font-family: 'Lexend', sans-serif;
  font-size: 2.3rem;
  font-weight: bold;
  padding: 28px;
  padding-left: 54px;
}

.search {
  padding: 20px;
}

.parentclass {
  display: flex;
  justify-content: space-around;
}

.center {
  display: flex;
  justify-content: center;
}


input.recipecat[type=text]{
  
}

input.searchcategory[type=text] {
  background: #eaeaea;
  height: 40px;
  width: 100ch;
  border: 1px solid #c1bdbd;
  border-radius: 20px;
}

input.searchcategory[type=text]:focus {
     outline: none;
     /* border: 1px solid #a0d18c; */
     color: #2d9fd9;
}

.selectWrapper {
  font-family: 'Lexend', sans-serif;
  border-radius: 36px;
  display: inline-block;
  overflow: hidden;
  background: #cccccc;
  border: 1px solid #cccccc;
}

.selectBox {
  padding: 10px;
  width: 180px;
  height: 40px;
  border: 0px;
  outline: none;
}

.sr{
  padding:10px;
}

.tht {
  font-weight: bold;
}

.test {
  padding: 20px;
  background: chocolate;
}
