.recipetitle {
  font-family: 'Lexend', sans-serif;
  font-size: 2.3rem;
  font-weight: bold;
  padding: 28px;
  padding-left: 54px;
}

.search {
  padding: 20px;
}

.parentclass {
  display: flex;
  justify-content: space-around;
}

.center {
  display: flex;
  justify-content: center;
}

.testimg{
  background: #ffffff;
  border: 1px solid #DFDFDF;
  padding: 5px;
  border-radius: 39%;
  width: 39px;
  float: left;
}

.notrecipebutton{
  background-color: #f9b400; /* Green */
  border: 1px solid #c5c4c4;
  background: #eaeaea;
  font-family: 'Lexend', sans-serif;
  color: #000000;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  border-radius: 30px;
  margin: 4px 2px;
  cursor: pointer;
}

.notactive{
  border: none;
  border: 1px solid #c5c4c4;
  font-family: 'Lexend', sans-serif;
  color: #000000;
  background: #eaeaea;
  padding: 4px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  border-radius: 30px;
  margin: 4px 2px;
  width: 173px;
  cursor: pointer;
}
.recipebutton{
  background-color: #e0b400; /* Green */
  background-image:linear-gradient(290deg, #ffb84f, #67404000);
  border: none;
  font-family: 'Lexend', sans-serif;
  color: #000000;
  padding: 3px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  border-radius: 30px;
  width: 173px;
  margin: 4px 2px;
  cursor: pointer;
}

input.recipecat[type=button]{
  padding: 10px;
  background: #eaeaea;
  height: 40px;
  width: 20ch;
  border: 1px solid #c1bdbd;
  border-radius: 20px;
}

input.searchcategory[type=text] {
  background: #eaeaea;
  height: 40px;
  width: 100ch;
  border: 1px solid #c1bdbd;
  border-radius: 20px;
}

input.searchcategory[type=text]:focus {
     outline: none;
     /* border: 1px solid #a0d18c; */
     color: #2d9fd9;
}

.selectWrapper {
  font-family: 'Lexend', sans-serif;
  border-radius: 36px;
  display: inline-block;
  overflow: hidden;
  background: #cccccc;
  border: 1px solid #cccccc;
}

.selectBox {
  padding: 10px;
  width: 180px;
  height: 40px;
  border: 0px;
  outline: none;
}

.sd{
  display: flex;
  flex-direction: column;
}
.sr{
  padding:30px;
}

.tht {
  font-weight: bold;
}

.test {
  padding: 20px;
  background: chocolate;
}


.bb {
  display:block;
  height: 300px;
  width: 300px;
  border-radius: 50%;
  border: 1px solid red;
  
}