<!-- <input class="recipecat" type="button" value="Pizza" width="200px"> <br/>
<input class="recipecat" type="button" value="Dessert" width="200px">
 <br/>
   <input class="recipecat" type="button" value="Noodle" width="200px"> <br/>
   <input class="recipecat" type="button" value="Cocktail" width="200px"> <br/>
   <input class="recipecat" type="button" value="Salad" width="200px"> <br/> -->

<div class="sr">
  <div class="sd">
    <!-- <button class="notactive">
      <img src="assets/img/pizza.png" class="testimg" width="36">
      <span style="margin-right:50px;padding-left:11px;">Breakfast</span>
    </button> <br/>
    <button class="notactive"
    [ngClass]="{'recipebutton' : isActive =='breakfast'}"
    (click)="onClickp('breakfast')"
    >
      <i class="fas fa-pizza-slice" style="font-size:18px;background-color: #fff;padding:10px;border-radius:20px"></i>
      <span style="margin-right:50px;padding-left:11px;">Breakfast</span>
    </button> <br/>
    <button class="notactive"
    [ngClass]="{recipebutton: isActive}"
    (click)="onClickp('lunch')"
    >
      <i class="fa fa-birthday-cake" style="font-size:18px;background-color: #fff;padding:10px;border-radius:20px;margin-left:-10%"></i>
      <span style="margin-right:50px;padding-left:11px;">Lunch</span>
    </button> <br/>
    <button class="notactive">
      <i class="fas fa-store" style="font-size:18px;background-color: #fff;padding:10px;border-radius:20px;margin-left:-10%"></i>
      <span style="margin-right:50px;padding-left:11px;">Soups</span>
    </button> <br/>
    <button class="notactive">
      <i class="fas fa-glass-martini-alt" style="font-size:18px;background-color: #fff;padding:10px;border-radius:20px;margin-left:-10%"></i>
      <span style="margin-right:50px;padding-left:11px;">Snacks</span>
    </button> <br/>
    <button class="notactive">
      <i class="fas fa-glass-martini-alt" style="font-size:18px;background-color: #fff;padding:10px;border-radius:20px;margin-left:-10%"></i>
      <span style="margin-right:50px;padding-left:11px;">Desserts</span>
    </button>
  </div>
  <div>
-->
  
<div class="sr">
  <div class="sd">
    <button
    class="notactive"
    *ngFor="let state of states"
    (click)="setStateAsActive(state)"
    [class.recipebutton]="state === activeState"
    >
    <img src="{{state.img}}" class="testimg" width="63">
      <span style="display: flex;align-items: center;justify-content: center;height: 4vh;">{{state.type}}</span>
    </button>
  </div>

</div>





