<!-- <input class="recipecat" type="button" value="Pizza" width="200px"> <br/>
<input class="recipecat" type="button" value="Dessert" width="200px">
 <br/>
   <input class="recipecat" type="button" value="Noodle" width="200px"> <br/>
   <input class="recipecat" type="button" value="Cocktail" width="200px"> <br/>
   <input class="recipecat" type="button" value="Salad" width="200px"> <br/> -->

<div class="sr">
  <div class="sd">
    <button class="notactive">
      <i class="fas fa-pizza-slice" style="font-size:18px;background-color: #fff;padding:10px;border-radius:20px;margin-left:-10%"></i>
      <span style="margin-right:50px;padding-left:11px;">Pizza</span>
    </button> <br/>
    <button class="recipebutton">
      <i class="fa fa-birthday-cake" style="font-size:18px;background-color: #fff;padding:10px;border-radius:20px;margin-left:-10%"></i>
      <span style="margin-right:50px;padding-left:11px;">Dessert</span>
    </button> <br/>
    <button class="recipebutton">
      <i class="fas fa-store" style="font-size:18px;background-color: #fff;padding:10px;border-radius:20px;margin-left:-10%"></i>
      <span style="margin-right:50px;padding-left:11px;">Noodles</span>
    </button> <br/>
    <button class="recipebutton">
      <i class="fas fa-glass-martini-alt" style="font-size:18px;background-color: #fff;padding:10px;border-radius:20px;margin-left:-10%"></i>
      <span style="margin-right:50px;padding-left:11px;">Cocktail</span>
    </button>
  </div>
  <div>

    <br />

    <!-- <button class="recipebuttons">
  <div>
    <img style="font-size:18px;background-color: #fff;padding:10px;border-radius:20px;margin-left:-10%" src="assets/img/pizza.png" width="32">
  </div>
  <span style="margin-right:50px;padding-left:11px;">Salad</span>
</button> -->
