.loginpage{
   padding: 20px;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }

  .crnew{
      color: #1A70B8;
      font-size: 14px;
      cursor: pointer;
  }

  .frgpwd{
      color: #1A70B8;
      float: right;
      font-size: 14px;
      cursor: pointer;
  }
  .logbtn{
      padding-top: 40px;
  }

  .orsign{
     padding-top: 22px;
  }